html {
    font-size: 62.5%;
}
#root {
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.icon {
    margin-right: 0.5rem;
}

/* basic login styling */

.login-page {
    padding-top: 15vh;
    flex: 1;
}
.login-container {
    display: flex;
    margin: auto;
    max-width: 100rem;
    box-shadow: 0 0 2px 1px grey;
    border-radius: 8px;
    align-items: center;
    background-color: #d3d3d3;
}

.login-container > img {
    width: 50rem;
    height: auto;
    border-radius: 8px 0px 0px 8px;
}

.logo {
    display: flex;
    margin: auto;
    widtH: 10rem;
}

.dashboard-panel.flex-container {
    display: flex;
    background-color: rgba(0,0,0,0.05);
}

.recovery-links {
    display: flex;
    justify-content: space-between;
    margin-top: 0.5rem;
}
/*form styles*/
/*toast message styles */
.Toastify__toast {
    background-color: red;
    color: white;
    font-size: 1.6rem;
}

.Toastify__progress-bar--error {
    background-color: #7d0c2c;
}

form {
    margin-left: 2rem;
    margin-right: 2rem;
    width: 100%;
    font-size: 1.6rem;
}

form > h2 {
    font-size: 2.4rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

label {
    width: 100%;
}

form > label:nth-child(2) {
    padding-top: 2rem;
}

form > input {
    width: 100%;
    border-radius: 4px;
    height: 3.5rem;
    border: none;
    font-size: 1.6rem;
}

form > button {
    width: 100%;
    margin-top: 2rem;
    border-radius: 4px;
    height: 3.5rem;
    color: #ffffff;
    border: none;
    background-color: #e12b38;
    font-size: 1.6rem;
}

form > input[type="email"] {
    margin-bottom: 1rem;
}
