html {
    font-size: 62.5%;
}
#root {
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.icon {
    margin-right: 0.5rem;
}

.dashboard-panel.flex-container {
    display: flex;
    background-color: rgba(0,0,0,0.05);
}

/*toast message styles */
.Toastify__toast {
    background-color: red;
    color: white;
    font-size: 1.6rem;
}

.Toastify__progress-bar--error {
    background-color: #7d0c2c;
}


